body {
  max-width:800px;
  margin:100px;
}



/* header wrapped in body: what_is_css.html */
header {
  background-color:green;
  color:red;
  margin:50px;
  padding-left:80px;
  border: 10px solid;
}

/* child of header */
h1 {
  padding-left:100px;
}

/* wrapped by body */
footer {
  margin-top:500px;
}
